.container {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  margin: auto;
  border: 1px solid black;
}

.container > div {
  flex: 0 1 6.25%;
}

* {
  box-sizing: border-box;
  text-align: center;
  background-size: cover;
}

button {
  padding: 10px;
  margin: 0 10px 10px 0;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
